## Python Lambda Function

A small, anonymous function defined in a single line.

**Syntax:** `variable_name = lambda arguments: expression`

- `lambda`: Keyword
- `arguments`: Parameters passed to the function
- `expression`: Single expression to evaluate and return

In [1]:
square = lambda x : x**2
result = square(5)
print(result)

25

In [2]:
add = lambda x,y : x+y
result = add(5, 3)
print(result)

8

In [7]:
my_list = (1, 2, 3, 4, 5)
print(tuple(map(lambda x: x**2, my_list)))
print(list(map(lambda x: x**2, my_list)))

(1, 4, 9, 16, 25)
[1, 4, 9, 16, 25]

In [8]:
my_list = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10,101)
print(list(filter(lambda x: x % 2 == 0, my_list)))

[2, 4, 6, 8, 10]

In [10]:

from functools import reduce
my_list = (1, 2, 3, 4, 5)
result = reduce(lambda x,y: x * y, my_list)
print(result)

120

In [11]:
students = [('Alice', 85), ('Bob', 75), ('Charlie', 95)]
sorted_by_score = sorted(students, key=lambda x: x[1], reverse=True)
print(sorted_by_score)

[('Charlie', 95), ('Alice', 85), ('Bob', 75)]

In [13]:
# while you can't use if/else statements, you can use conditional expressions (ternary operator)
check_even = lambda x: "Even" if x % 2 == 0 else "Odd"
print(check_even(4))
print(check_even(5))

Even
Odd

In [1]:
(lambda x : (x+2)*5/2)(4)

15.0

In [3]:
# return in lambda is syntax error : mul = lambda x, y: return x * y
mul = lambda x, y: x * y
mul(5, 6)

30

In [7]:
# Write a program to print the multiplication table of the number from 1 to 10 using lambda function
def multiplication_table(n):
    return list(map(lambda x: n * x, range(1, 11)))
x = 5
print(multiplication_table(x))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]